@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
    <div>

        <h1>Calculadora + completa </h1>

        <!--objeto para devolver o conteúdo da calculadora do browser para o servidor.-->
        <!-- esta linha de comentário é vista no browser-->
        @*mas esta não é ... *@

        <form method="post">

            <table>
                <tr>
                    <td colspan="5">
                        <input type="text" name="visor" value="@ViewBag.Visor" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="4" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="5" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="6" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="X" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="C" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="1" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="2" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="3" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="-" name="bt" />
                    </td>
                    <td rowspan="2">
                        <input type="submit" value="=" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="0" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="," name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+" name="bt" />
                    </td>

                </tr>


            </table>
        </form>
    </div>
</body>
</html>
